* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1b2838;
    color: #c7d5e0;
    line-height: 1.6;
    /*padding: 20px;*/
}

h1, h2 {
    color: #66c0f4;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
}

b {
    color: #66c0f4;
    font-weight: bold;
}

p {
    margin-bottom: 15px;
    font-size: 1rem;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #c7d5e0;
}

textarea {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    background-color: #2a475e;
    color: #c7d5e0;
    border: 1px solid #66c0f4;
    border-radius: 4px;
    resize: vertical;
    font-size: 1rem;
} 

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #2a475e;
    border-radius: 4px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow:hidden;
    box-shadow: 0 0 10px rgba(102, 192, 244, 0.2);
    margin-top: 30px;
}

th, td {
    padding: 14px 16px;
    text-align: left;
    font-size: 0.95rem;
    border-bottom: 1px solid #2a475e;
}

th {
    background-color: #2a475e;
    color:#66c0f4;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px; 
}

td {
    background-color: #1b2838;
    color: #c7d5e0;
    vertical-align: middle;
    text-align: center;
}

tr:hover td {
    background-color: #22394d;
}

td img {
    border-radius: 6px;
    box-shadow:rgba(102, 192, 244, 0.3);
}

button {
    background-color: #66c0f4;
    color: #171a21;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3;
}

button:hover {
    background-color: #8ecae6;
}

.card-jogo {
    background-color: #2a475e;
    border: 1px solid #66c0f4;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(102, 192, 244, 0.2);
}

.destaque {
    background-color: #66c0f4;
    color: #171a21;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

#banner {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    padding: 40px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#logo {
    height: 50px;
    border: none;
    outline: none; 
    box-shadow: none;
    background: transparent;
    margin-bottom: 4px;
    transition: transform 0.3s;
    display: block; 
    filter: drop-shadow(0 0 0 transparent);
}

#logo:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 5px rgba(102, 192, 244, 0.5));
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171a21;
    padding: 10px 20px;
    gap: 30px; 
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu-links {
    display: flex;
    gap: 20px;
}

.menu-links a {
    color: #c7d5e0;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.menu-links a:hover {
    color: #66c0f4;
}

.gamestore-footer {
    background-color: #171a21;
    color: #c7d5e0;
    padding: 30px 20px;
    font-size: 0.9rem;
    border-top: 1px solid #2a475e;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.6;   
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 40px 20px;
    max-width:  1600px;
    margin: 0 auto;
    display: grid;
}

.grade-jogos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

td img {
    width: 80px;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(102, 192, 244, 0.3);
    display: block;
    margin: 0 auto
}

form {
    background-color: #2a475e;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(102, 192, 244, 0.2);
    max-width: 800px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

form label {
    font-weight: bold;
    color: #c7d5e0;
    font-size: 1rem;
    max-width: 500px;
}

form input[type="text"], 
form textarea {
    background-color: #1b2838;
    border: 1px solid #66c0f4;
    border-radius: 6px;
    padding: 16px 20px;
    color: #c7d5e0;
    font-size: 1.1rem;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    grid-column: span 1;
}

form input[type="text"]:focus,
form textarea:focus {
    outline: none;
    border-color: #8ecae6;
    box-shadow: 0 0 5px rgba(102, 192, 244, 0.5);
}

form textarea {
    grid-column: span 2;
    resize: vertical;
    min-height: 150px;

}

form button {
    background-color: #66c0f4;
    color: #171a21;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    grid-column: span 2;
}

form button:hover {
    background-color: #8ecae6;
}

.main-equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    padding: 40px 20px;
} 

main h2,
main p,
main ul {
    text-align: center;
}

main ul {
    list-style: none;
    padding: 0;
    background-color: #2a475e;
    border: 1px solid #66c0f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(102, 192, 244, 0.2);
    padding: 20px;
    width: fit-content;
}

main ul li {
    margin-bottom: 6px;
    font-size: 1rem;
    color: #c7d5e0;
}
